body {
  background-color: #fcd793c5;
  margin: auto 0;
  font-family: "Roboto", sans-serif;
}

.custom-shape-divider-top-1685594347 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-top-1685594347 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 600px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1685594347 .shape-fill {
  fill: rgba(255, 255, 255, 0.2);
}

.custom-shape-divider-bottom-1685594483 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.custom-shape-divider-bottom-1685594483 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 600px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1685594483 .shape-fill {
  fill: rgba(255, 255, 255, 0.3);
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 40px auto 14px;
  text-align: center;
}

.weather-app {
  background-size: auto;
  padding: 50px 50px 40px 50px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.morning {
  background-image: url("../images/morning.jpg");
}

.evening {
  background-image: url("../images/evening.jpg");
}

.night {
  background-image: url("../images/night.jpg");
}

#search-city {
  padding: 0;
}

.search-button,
.location-button {
  background-color: rgba(255, 255, 255, 0.24);
  border: rgba(255, 255, 255, 0.24);
  color: #ffffffb9;
  font-weight: 300;
  transform: all 200ms ease-in-out;
}

.search-button:hover,
.location-button:hover {
  background-color: rgb(223, 159, 130);
  border: rgb(228, 165, 135);
}

.location-button {
  min-height: 40px;
  margin-left: 8px;
}

#city-name {
  margin-top: 95px;
  margin-bottom: 0;
  color: #ffffff;
  font-size: 40px;
  font-weight: lighter;
}

#city-day-time {
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffffec;
  font-size: 15px;
  font-weight: lighter;
}

.current-temperature {
  padding-left: 75px;
  margin: 0 auto;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.current-temperature-digit {
  color: #ffffff;
  font-size: 100px;
  line-height: 90px;
}

.degree-symbol {
  color: #ffffff;
  font-size: 25px;
  vertical-align: top;
  text-decoration: none;
  font-weight: normal;
}

.vertical-bar,
.current-temperature-celsius,
.current-temperature-fahrenheit {
  color: #ffffff;
  font-size: 25px;
  vertical-align: top;
  text-decoration: none;
  font-weight: lighter;
}

.current-temperature .active {
  font-weight: normal;
}

.weather-type {
  color: #ffffff;
  font-size: 25px;
  font-weight: 100;
  text-transform: capitalize;
}

hr {
  margin: 15px 100px;
  color: #a6637ac0;
}

.weather-quote {
  font-size: 16px;
  min-width: 160px;
  color: #a6637ac0;
  margin: 0 100px 0 100px;
}

.hover-meteorology {
  color: #ffffff;
  font-size: 14px;
  font-style: italic;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin-top: 3px;
}

.weather-forecast {
  margin-top: 185px;
}

.col {
  padding: 7px;
}

.forecast {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 27px 10px;
  border-radius: 5px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: all 200ms ease-in-out;
}

.forecast:hover {
  background-color: rgba(255, 255, 255, 0.35);
}

.forecast-date {
  font-weight: 250;
}

.forecast-image {
  opacity: 0.95;
}

.forecast-temperature-min {
  opacity: 0.7;
}

.open-source-link {
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
}

.github-repository-link {
  text-decoration: none;
  color: #c98f44;
}

.github-user {
  color: rgb(77, 77, 77);
}
